Source: salt-formula-chrony
Maintainer: devops <devops@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-chrony
Vcs-Git: https://github.com/tcpcloud/salt-formula-chrony.git

Package: salt-formula-chrony
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: chrony salt formula
 Install and configure chrony system.
